.magicalburst.sheet {
  .hidden {
    display: none;
  }

  .panelBorder {
    &:first-child {
      margin-top: 0em;
    }

    h2 {
      margin-top: 10px;
    }

    h2, h3, th, td, textarea, p {
      padding: 0 0.75em;
    }
  }

  .sidebar {
    gap: 0.5em;
  }
}

.magicalburst.sheet.character {
  textarea {
    resize: none;
  }

  form {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto minmax(min-content, max-content);
    row-gap: 0.5em;
  }

  .sheet-body, .left-side, .right-side {
    gap: @defaultGap;
  }

  .sidebar {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .actor-img {
      width: @sidebar-bg-width;
    }

    .stat-block {
      margin-bottom: 0.75rem;
    }

    .stats {
      padding: 0.5em;
      height: 100%
    }
  }

    .actor-realName {
      padding: 0 0.75rem 0;
      margin-bottom: 0.5em;
      height: 1.2em;
    }

    .actor-magicName {
      padding: 0 0.75rem 0;
      margin-bottom: 0.5em;
      height: 1.2em;
    }

    .sheet-body {
      grid-column-start: 1;
      grid-row-start: 1;
      display: flex;
      flex-direction: column;

    }

    .talents-relationships-descriptors {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;

      .left-side, .right-side {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

    }
  }

  .actor-img > img {
    width: 256px;
  }

  input {
    width: 100%;
  }
  select {
    border: none;
    text-align: center;
  }