//fonts

@font-face {
  font-family: "Milky Well";
  src: url("fonts/MilkyWell.ttf");
}

@font-face {
  font-family: "Dom Casual";
  src: url("fonts/DomCasualStd.otf");
}

@font-face {
  font-family: "Dom Casual";
  src: url("fonts/DomCasualStd-Bold.otf");
  font-weight: bold;
}


// Layout
@defaultGap: 0.75em;
@sidebar-bg-width: 80%;
