.magicalburst .talent-border {
  .talent-costs {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: @defaultGap;
    grid-template-rows: auto auto;
    width: fit-content;

    div {
      width: fit-content;
      text-align: center;
    }
  }
}