@font-face {
  font-family: "Milky Well";
  src: url("fonts/MilkyWell.ttf");
}
@font-face {
  font-family: "Dom Casual";
  src: url("fonts/DomCasualStd.otf");
}
@font-face {
  font-family: "Dom Casual";
  src: url("fonts/DomCasualStd-Bold.otf");
  font-weight: bold;
}
.magicalburst.sheet.talent form {
  display: flex;
  flex-direction: column;
}
.magicalburst.sheet.talent .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.magicalburst.sheet.talent .sheet-content .editor {
  height: 100%;
}
.magicalburst.sheet .hidden {
  display: none;
}
.magicalburst.sheet .panelBorder:first-child {
  margin-top: 0em;
}
.magicalburst.sheet .panelBorder h2 {
  margin-top: 10px;
}
.magicalburst.sheet .panelBorder h2,
.magicalburst.sheet .panelBorder h3,
.magicalburst.sheet .panelBorder th,
.magicalburst.sheet .panelBorder td,
.magicalburst.sheet .panelBorder textarea,
.magicalburst.sheet .panelBorder p {
  padding: 0 0.75em;
}
.magicalburst.sheet .sidebar {
  gap: 0.5em;
}
.magicalburst.sheet.character textarea {
  resize: none;
}
.magicalburst.sheet.character form {
  display: grid;
  grid-template-columns: auto 250px;
  grid-template-rows: auto minmax(min-content, max-content);
  row-gap: 0.5em;
}
.magicalburst.sheet.character .sheet-body,
.magicalburst.sheet.character .left-side,
.magicalburst.sheet.character .right-side {
  gap: 0.75em;
}
.magicalburst.sheet.character .sidebar {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.magicalburst.sheet.character .sidebar .actor-img {
  width: 80%;
}
.magicalburst.sheet.character .sidebar .stat-block {
  margin-bottom: 0.75rem;
}
.magicalburst.sheet.character .sidebar .stats {
  padding: 0.5em;
  height: 100%;
}
.magicalburst.sheet.character .actor-realName {
  padding: 0 0.75rem 0;
  margin-bottom: 0.5em;
  height: 1.2em;
}
.magicalburst.sheet.character .actor-magicName {
  padding: 0 0.75rem 0;
  margin-bottom: 0.5em;
  height: 1.2em;
}
.magicalburst.sheet.character .sheet-body {
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
}
.magicalburst.sheet.character .talents-relationships-descriptors {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.magicalburst.sheet.character .talents-relationships-descriptors .left-side,
.magicalburst.sheet.character .talents-relationships-descriptors .right-side {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.actor-img > img {
  width: 256px;
}
input {
  width: 100%;
}
select {
  border: none;
  text-align: center;
}
.magicalburst.sheet.character .stat-block {
  text-align: center;
  text-align-last: center;
  align-items: center;
}
.magicalburst.sheet.character .stat-block select {
  font-size: 1em;
}
.magicalburst.sheet.character .stat-block input {
  border: none;
  margin-bottom: 0.25em;
}
.magicalburst.sheet .overcharge-points {
  height: fit-content;
  padding: 0.25em;
  display: flex;
}
.magicalburst.sheet .overcharge-points .overcharge-header {
  height: 80px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  margin-right: 0.5em;
}
.magicalburst.sheet .overcharge-points .impairment-editor {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  align-content: stretch;
}
.magicalburst.sheet .overcharge-points .impairment-editor input {
  height: 100%;
  background-color: burlywood;
  text-align: center;
}
.magicalburst.sheet .overcharge-points .hidden {
  display: none;
}
.magicalburst.sheet .overcharge-points .overcharge {
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
}
.magicalburst.sheet .overcharge-points .overcharge .overcharge-markers {
  display: grid;
  grid-template-columns: repeat(var(--row-length, 30), 1fr);
  grid-template-rows: auto auto;
  width: fit-content;
  text-align: center;
  height: 100%;
}
.magicalburst.sheet .overcharge-points .overcharge-point {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.magicalburst.sheet .overcharge-points .overcharge-box {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.magicalburst.sheet .overcharge-points .overcharge-box.crossed div:after {
  filter: invert();
}
.magicalburst.sheet .relationships {
  display: flex;
  flex-direction: column;
}
.magicalburst.sheet .relationships h2 {
  display: flex;
  flex-direction: row;
}
.magicalburst.sheet .relationships h2 .item-create {
  margin-left: auto;
}
.magicalburst.sheet .relationships .relationship-item {
  display: flex;
  flex-direction: row;
  margin: 0.25em 0.5em;
}
.magicalburst.sheet .relationships .relationship-item .relationship-rank {
  width: 3ch;
}
.magicalburst .talent-border .talent-costs {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 0.75em;
  grid-template-rows: auto auto;
  width: fit-content;
}
.magicalburst .talent-border .talent-costs div {
  width: fit-content;
  text-align: center;
}
.magicalburst.sheet.character .window-content {
  text-transform: none;
  font-family: "Milky Well", fantasy;
  font-weight: normal;
}
.magicalburst.sheet.character .window-content select {
  text-transform: none;
  font-family: "Milky Well", fantasy;
  font-weight: normal;
}
.magicalburst.sheet.character .window-content h2 {
  font-size: 1.2rem;
}
.magicalburst.sheet.character .window-content input,
.magicalburst.sheet.character .window-content select,
.magicalburst.sheet.character .window-content textarea {
  background: none;
  border: none;
}
.magicalburst.sheet.character .window-content h1,
.magicalburst.sheet.character .window-content h2 {
  border: none;
}
.magicalburst.sheet.character .actor-realName {
  font-family: "Dom Casual", sans-serif;
  text-transform: none;
  font-weight: bold;
  font-size: 1.4rem;
}
.magicalburst.sheet.character .actor-magicName {
  font-family: "Dom Casual", sans-serif;
  text-transform: none;
  font-weight: bold;
  font-size: 1.4rem;
}
.magicalburst.sheet.character textarea {
  font-family: "Dom Casual", sans-serif;
  text-transform: none;
  font-weight: normal;
  font-size: 1.2rem;
}
.magicalburst.sheet.character .actor-img,
.magicalburst.sheet.character .panelBorder {
  position: relative;
  border: none;
  background: white;
  clip-path: polygon(8px 0px, calc(100% - 8px) 0px, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 8px 100%, 8px 100%, 0px calc(100% - 8px), 0px 8px);
}
.magicalburst.sheet.character .actor-img::after,
.magicalburst.sheet.character .panelBorder::after {
  clip-path: polygon(calc(100% - 8px) 0%, 8px 0%, 0% 8px, 0% calc(100% - 8px), 8px 100%, calc(2px + 8px) calc(100% - 2px), 2px calc(100% - 2px - 8px), 2px calc(2px + 8px), calc(2px + 8px) 2px, calc(100% - 2px - 8px) 2px, calc(100% - 2px) calc(2px + 8px), calc(100% - 2px) calc(100% - 2px - 8px), calc(100% - 2px - 8px) calc(100% - 2px), calc(2px + 8px) calc(100% - 2px), 8px 100%, calc(100% - 8px) 100%, 100% calc(100% - 8px), 100% 8px);
  content: "";
  background: #ff85d5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.magicalburst.sheet.character .stats {
  background-color: #ff85d5;
  clip-path: polygon(5px 0px, calc(100% - 5px) 0px, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 5px 100%, 5px 100%, 0px calc(100% - 5px), 0px 5px);
}
.magicalburst.sheet.character .stat-block .stat-value,
.magicalburst.sheet.character .stat-block .stat-value > * {
  font-family: "Dom Casual", sans-serif;
  text-transform: none;
  font-weight: bold;
}
.magicalburst.sheet.character .stat-block .stat-name {
  font-size: 1.3rem;
}
.magicalburst.sheet.character .stat-block .stat-name,
.magicalburst.sheet.character .stat-block .stat-name > * {
  color: white;
  background-color: #ff85d5;
}
.magicalburst.sheet.character .stat-block .stat-value {
  font-size: 1.8rem;
  background-color: white;
  clip-path: polygon(5px 0px, calc(100% - 5px) 0px, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 5px 100%, 5px 100%, 0px calc(100% - 5px), 0px 5px);
}
.magicalburst .talent-card .talent-description {
  font-family: "Dom Casual", sans-serif;
  text-transform: none;
  font-weight: normal;
}
.magicalburst .talent-card .talent-action,
.magicalburst .talent-card .talent-limit,
.magicalburst .talent-card .talent-overcharge {
  font-family: "Dom Casual", sans-serif;
  text-transform: none;
  font-weight: bold;
}
.magicalburst .talent-border[data-type="attack"] {
  position: relative;
  border: none;
  background: #ff99aa;
  clip-path: polygon(8px 0px, calc(100% - 8px) 0px, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 8px 100%, 8px 100%, 0px calc(100% - 8px), 0px 8px);
}
.magicalburst .talent-border[data-type="attack"]::after {
  clip-path: polygon(calc(100% - 8px) 0%, 8px 0%, 0% 8px, 0% calc(100% - 8px), 8px 100%, calc(2px + 8px) calc(100% - 2px), 2px calc(100% - 2px - 8px), 2px calc(2px + 8px), calc(2px + 8px) 2px, calc(100% - 2px - 8px) 2px, calc(100% - 2px) calc(2px + 8px), calc(100% - 2px) calc(100% - 2px - 8px), calc(100% - 2px - 8px) calc(100% - 2px), calc(2px + 8px) calc(100% - 2px), 8px 100%, calc(100% - 8px) 100%, 100% calc(100% - 8px), 100% 8px);
  content: "";
  background: #ff3a5a;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.magicalburst .talent-border[data-type="attack"] .talent-name {
  text-transform: none;
  font-family: "Milky Well", fantasy;
  font-weight: normal;
  font-size: 1.2rem;
  background-color: #ff3a5a;
  color: black;
}
.magicalburst .talent-border[data-type="defense"] {
  position: relative;
  border: none;
  background: #8ab6ff;
  clip-path: polygon(8px 0px, calc(100% - 8px) 0px, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 8px 100%, 8px 100%, 0px calc(100% - 8px), 0px 8px);
}
.magicalburst .talent-border[data-type="defense"]::after {
  clip-path: polygon(calc(100% - 8px) 0%, 8px 0%, 0% 8px, 0% calc(100% - 8px), 8px 100%, calc(2px + 8px) calc(100% - 2px), 2px calc(100% - 2px - 8px), 2px calc(2px + 8px), calc(2px + 8px) 2px, calc(100% - 2px - 8px) 2px, calc(100% - 2px) calc(2px + 8px), calc(100% - 2px) calc(100% - 2px - 8px), calc(100% - 2px - 8px) calc(100% - 2px), calc(2px + 8px) calc(100% - 2px), 8px 100%, calc(100% - 8px) 100%, 100% calc(100% - 8px), 100% 8px);
  content: "";
  background: #3877df;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.magicalburst .talent-border[data-type="defense"] .talent-name {
  text-transform: none;
  font-family: "Milky Well", fantasy;
  font-weight: normal;
  font-size: 1.2rem;
  background-color: #3877df;
  color: black;
}
.magicalburst .talent-border[data-type="support"] {
  position: relative;
  border: none;
  background: #fff2bc;
  clip-path: polygon(8px 0px, calc(100% - 8px) 0px, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 8px 100%, 8px 100%, 0px calc(100% - 8px), 0px 8px);
}
.magicalburst .talent-border[data-type="support"]::after {
  clip-path: polygon(calc(100% - 8px) 0%, 8px 0%, 0% 8px, 0% calc(100% - 8px), 8px 100%, calc(2px + 8px) calc(100% - 2px), 2px calc(100% - 2px - 8px), 2px calc(2px + 8px), calc(2px + 8px) 2px, calc(100% - 2px - 8px) 2px, calc(100% - 2px) calc(2px + 8px), calc(100% - 2px) calc(100% - 2px - 8px), calc(100% - 2px - 8px) calc(100% - 2px), calc(2px + 8px) calc(100% - 2px), 8px 100%, calc(100% - 8px) 100%, 100% calc(100% - 8px), 100% 8px);
  content: "";
  background: #e4c95c;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.magicalburst .talent-border[data-type="support"] .talent-name {
  text-transform: none;
  font-family: "Milky Well", fantasy;
  font-weight: normal;
  font-size: 1.2rem;
  background-color: #e4c95c;
  color: black;
}
.magicalburst .talent-border[data-type="none"] {
  position: relative;
  border: none;
  background: #c0fbca;
  clip-path: polygon(8px 0px, calc(100% - 8px) 0px, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 8px 100%, 8px 100%, 0px calc(100% - 8px), 0px 8px);
}
.magicalburst .talent-border[data-type="none"]::after {
  clip-path: polygon(calc(100% - 8px) 0%, 8px 0%, 0% 8px, 0% calc(100% - 8px), 8px 100%, calc(2px + 8px) calc(100% - 2px), 2px calc(100% - 2px - 8px), 2px calc(2px + 8px), calc(2px + 8px) 2px, calc(100% - 2px - 8px) 2px, calc(100% - 2px) calc(2px + 8px), calc(100% - 2px) calc(100% - 2px - 8px), calc(100% - 2px - 8px) calc(100% - 2px), calc(2px + 8px) calc(100% - 2px), 8px 100%, calc(100% - 8px) 100%, 100% calc(100% - 8px), 100% 8px);
  content: "";
  background: #43b355;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.magicalburst .talent-border[data-type="none"] .talent-name {
  text-transform: none;
  font-family: "Milky Well", fantasy;
  font-weight: normal;
  font-size: 1.2rem;
  background-color: #43b355;
  color: black;
}
